* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    border: none;
    outline: none;
}

#nav-hero-section {
    position: relative;
    width: 100%;
    background-color: black;
}


#nav-hero-section::before {
    background-image: url(../images/WhatsApp\ Image\ 2024-07-23\ at\ 07.56.47.jpeg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    position: absolute;
    content: '';
    inset: 0;
    opacity: 0.3;
}

.nav-cover {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 20px 0px 0px;
    isolation: isolate;
}

.img-logo {
    width: 150px;
}

.btn {
    width: 95px;
    background-color: rgb(229,9,20);
    height: 35px;
    color: white;
    border-radius: 4px;
    font-size: clamp(2em);
}

section {
    isolation: isolate;
    color: white;
    text-align: center;
    margin-top: 40px;
}

.Unlimited {
    font-size: clamp(2rem, 10vw, 2rem); 
    font-weight: bolder;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.Watch {
    font-size: clamp(1.2rem, 10vw, 1.2rem); 
    font-family: Arial, Helvetica, sans-serif;
    padding-top: 1em;
}

.Ready {
    font-size: clamp(1.1rem, 10vw, 1.1rem); 
    font-family: Arial, Helvetica, sans-serif;
    color: rgb(231, 226, 226);
    padding-top: 1em;
}

.input-button {
    margin-top: 25px;
    isolation: isolate;
}

section div input[type="text"] {
    width: 270px;
    height: 50px;
    border-radius: 4px;
    border: 1px solid rgb(245, 244, 244);
    background: transparent;
    color: white;
    font-size: 17px;
    padding: 10px;
}

::placeholder {
    color: white;
    font-size: 18px;
}

input[type="text"]:focus {
    border: 4px solid white;
    outline: 4px;
}


section {
    height: 65vh;
}

section div button {
    color: white;
    width: 160px;
    font-size: 20px;
    height: 50px;
    border-radius: 4px;
    background-color: rgb(229,9,20);
    margin-top: 20px;
}

section div button:hover {
    transition-timing-function: cubic-bezier(0.5, 0, 0.1, 1);
    background: rgb(193, 17, 25);
}


/* start of main body */
main {
    background-color: black;
    padding-top: 50px;
    border: 10px solid;
    border-color: rgb(35,35,35);
    border-left: none;
    border-right: none;
}

.main-text {
    color: white;
    text-align: center;
}

.enjoy {
    font-size: clamp(1.8rem, 10vw, 1.8rem); 
    color: white;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight: bolder;
}

.Watchon {
    font-size: clamp(1.2rem, 10vw, 1.2rem); 
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    padding-top: 20px;
}

.main-tv {
    display: flex;
    justify-content: center;
}

.main-tv img{
    width: 350px;
    padding-top: 30px;
}
/* end of main body*/

/* start of second main body */
.second-main-body {
    display: flex;
    flex-direction: column-reverse;
    background-color: black;
    padding-top: 50px;
    border: 10px solid;
    border-color: rgb(35,35,35);
    border-left: none;
    border-right: none;
    border-top: none;
}

.phone-image {
    display: flex;
    justify-content: center;
}

.phone-text {
    color: white;
    text-align: center;
}

.phone-text .Download {
    font-size: clamp(1.6rem, 10vw, 1.6rem); 
    font-weight: 100%;
    color: white;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight: bolder;
}

.phone-text .saveyour {
    padding-top: 20px;
    font-size: clamp(1.2rem, 10vw, 1.2rem); 
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    padding-top: 20px;
}

.phone-image img {
    width: 230px;
    padding-top: 20px;
}
/* end of second main body */


/* start of third-main-body */
.third-main-body {
    background-color: black;
    padding-top: 50px;
    border: 10px solid;
    border-color: rgb(35,35,35);
    border-left: none;
    border-right: none;
    border-top: none;
    color: white;
}

.third-main-body div {
    height: 25vh;
    padding-top: 25px;
    text-align: center;
}
.third-main-body div .watch-eveywhere {
    font-size: clamp(1.6rem, 10vw, 1.6rem); 
    font-weight: 100%;
    color: white;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight: bolder;
}
.third-main-body div .stream {
    padding-top: 20px;
    font-size: clamp(1.1rem, 6vw, 1.1rem); 
    padding-top: 20px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
/* end of third-main-body */


/* start of fourt main body */
.fourt-card-cover {
    display: flex;
    flex-direction: column-reverse;
    background-color: black;
    text-align: center;
    border: 10px solid;
    border-color: rgb(35,35,35);
    border-left: none;
    border-right: none;
    border-top: none;
    padding-top: 50px;
}

.fourt-imag-card img {
    width: 330px;
    padding-top: 20px;
}

.fourt-text {
    color: white;
}

.fourt-text .create {
    font-size: clamp(1.5rem, 10vw, 1.5rem); 
    color: white;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight: bolder;
}

.fourt-text .sendkids {
    font-size: clamp(1.1rem, 10vw, 1.1rem); 
    font-weight: 100%;
    color: white;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    padding-top: 20px;

}
/* end of fourt main body */

/* start of tittle box */
.tittle-box {
    color: white;
}

.tittle-box {
    background-color: black;
}

.Frequently {
    text-align: center;
    font-size: clamp(1.7rem, 10vw, 1.7rem); 
    color: white;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight: bolder;
    padding-top: 50px;
}

.ist-box {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 2px 20px;
    margin-top: 30px;
    margin-left: 5%;
    margin-right: 5%;
    background-color: rgb(49, 48, 48);
    width: 90%;
}

.box-tittle {
    font-size: clamp(1rem, 10vw, 1rem); 
    font-weight: 100%;
    color: white;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.plus-icon {
    font-size: clamp(3rem, 10vw, 3rem); 
}

.second-box {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 2px 20px;
    margin-top: 10px;
    margin-left: 5%;
    margin-right: 5%;
    background-color: rgb(49, 48, 48);
    width: 90%;
}

.third-box {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 2px 20px;
    margin-top: 10px;
    margin-left: 5%;
    margin-right: 5%;
    background-color: rgb(49, 48, 48);
    width: 90%;
}

.fourt-box {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 2px 20px;
    margin-top: 10px;
    margin-left: 5%;
    margin-right: 5%;
    background-color: rgb(49, 48, 48);
    width: 90%;
}

.fiffty-box {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 2px 20px;
    margin-top: 10px;
    margin-left: 5%;
    margin-right: 5%;
    background-color: rgb(49, 48, 48);
    width: 90%;
}

.sixty-box {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 2px 20px;
    margin-top: 10px;
    margin-left: 5%;
    margin-right: 5%;
    background-color: rgb(49, 48, 48);
    width: 90%;
}
/* end of tittle box */

/* strat of box text input */
.ready {
    text-align: center;
    font-size: clamp(1.3rem, 10vw, 1.2rem); 
    font-weight: 100%;
    color: white;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    padding-top: 2em;
}

.tittle-box .text-input {
    justify-content: center;
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 0.8em;
    margin-top: 1.7em;
}

.tittle-box input[type="text"]{ 
width: 270px;
height: 50px;
border-radius: 4px;
border: 1px solid rgb(245, 244, 244);
background: transparent;
color: white;
font-size: 17px;
padding: 10px;
background: transparent;
}

.text-input input[type="text"]:focus{ 
    border: 4px solid white;
    outline: 3px;
    }

.tittle-box button{ 
    width: 170px;
    background-color: rgb(229,9,20);
    height: 50px;
    color: white;
    border-radius: 4px;
    font-size: clamp(1.3rem, 10vw, 1.2rem); 
    }
/* end of box text input */